<p id="notice"><%= notice %></p>
<h1 class="user-body">
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>

<p class="user-body">
  <b>Name:</b>
  <%= @user.name %>
</p>

<p class="user-body">
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user), :class => "user-body" %> |
<%= link_to 'Back', users_path, :class => 'back-link' %>
