<div id="footer">
    <div class="footer-wrapper">
        <nav>    
            <%= link_to "Home", home_path %> |
            <%= link_to "About", about_path %> |
            <%= link_to "Sign In", sign_in_path %> |
            <%= link_to "Terms", terms_path %> |
            <%= link_to "Contact", contact_path %> |
            <%= link_to "Site Map", site_map_path %> 
        </nav>    
    </div>    
</div>