<div id="header">
    <div class="wrapper">           
         <div id="logo-container">
             <p class="logo-header">
                <%= link_to "Elusive Hippo", root_path%>
             </p>
             <nav class="round">
                <ul>
                     <% if signed_in? %>
                     <li id="profile-link">
                        <%= link_to "Profile", current_user %>
                     </li>
                     <li id="all-users-link">
                        <%= link_to "Users List", users_path %>
                     </li>
                     <li id="setting-link">
                        <%= link_to "Settings", edit_user_path(current_user) %>
                     </li>
                     <li id="sign-out-link">
                        <%= link_to "Sign out", signout_path, :method => :delete%>   
                     </li>
                     <% else %>
                     <li id="sign-in-link">
                        <%= link_to "Sign in", signin_path%>   
                     </li>
                     <% end %>
                </ul>
            </nav>

        </div> 
    </div>
</div>